<html>

<head>
    <title>STchannel Movie</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.webp') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@1.0.0/build/pure-min.css">
    <style>
        html {
            overflow-y: auto;
            overflow-x: hidden;
        }

        body {
            margin: 0 auto;
            text-align: center;
            padding-top: 30px;
        }

        .container {
            margin-right: calc(100% - 100vw);
            padding: 18px;
        }

        .wrapper {
            position: relative;
            left: 10px;
            margin: 0 auto;
            text-align: center;
            width: 800px;
        }

        .cards {
            border: 2px ridge #eee;
            padding: 10px;
            margin: 16px;
        }

        .load {
            padding: 16px;
        }

        .leftp {
            text-align: left;
        }

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65);
        }
    </style>
    <script>
        var ajax = new XMLHttpRequest();
        function hlsdown(index) {
            var url = document.getElementById("download" + index).getAttribute("data-url")
            document.getElementById("download" + index).innerHTML = "Waiting..."
            document.getElementById("download" + index).setAttribute("disabled", true)
            ajax.open('post', '/api/download');
            ajax.setRequestHeader("content-type", "application/json");
            var info = JSON.stringify({ "url": url })
            ajax.send(info);
            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4 && ajax.status == 200) {
                    var msg = JSON.parse(ajax.responseText);
                    console.log(msg)
                    if (msg["status"] === 0) {
                        document.getElementById("download" + index).innerHTML = "Finished"
                        document.getElementById("download" + index).removeAttribute("disabled")
                        document.getElementById("download" + index).className = "pure-button pure-button-primary"
                        document.getElementById("download" + index).style.pointerEvents = "none"
                    } else {
                        document.getElementById("download" + index).innerHTML = "Download"
                        document.getElementById("download" + index).removeAttribute("disabled")
                    }
                }
            }
        }
        function nextlist(data) {
            var nid = data.id
            document.getElementById(nid).innerHTML = "Loading..."
            document.getElementById(nid).setAttribute("disabled", true)
            ajax.open('get', '/api/getlist?next_id=' + nid);
            ajax.send();
            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4 && ajax.status == 200) {
                    document.getElementById(nid).innerHTML = "LOAD"
                    document.getElementById(nid).removeAttribute("disabled")
                    var render = ""
                    var msg = JSON.parse(ajax.responseText);
                    var wrapper = document.getElementById('wrapper');
                    if (msg["status"] === 0) {
                        var st_data = msg["data"]
                        for (var i in st_data) {
                            var data = st_data[i]
                            var date_ele = '<p>' + data['date'] + '</p>'
                            var title_ele = '<p class="leftp">' + data['title'] + '</p>'
                            var pic_ele = '<p><img src="' + data["picture_url"] + '" width="600px" /></p>'
                            var movie_ele = '<p><button class="button-success pure-button" name="download" id="download' + data["id"] + '" onclick=hlsdown(' + data["id"] + ') data-url=' + data["movie_url"] + '>Download</button></p>'
                            var main_html = '<div class="cards">' + date_ele + title_ele + pic_ele + movie_ele + '</div>'
                            render = render + main_html
                        }
                        document.getElementById(nid).id = msg["next_id"]
                        wrapper.innerHTML = wrapper.innerHTML + render
                    } else {
                        wrapper.innerHTML = '<div>No Data</div>'
                    }
                }
            }
        }
        function getlist() {
            document.getElementById("stlist").innerHTML = "Scanning..."
            document.getElementById("stlist").setAttribute("disabled", true)
            ajax.open('get', '/api/getlist');
            ajax.send();
            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4 && ajax.status == 200) {
                    document.getElementById("stlist").innerHTML = "Renew"
                    document.getElementById("stlist").removeAttribute("disabled")
                    var render = ""
                    var msg = JSON.parse(ajax.responseText);
                    var wrapper = document.getElementById('wrapper');
                    var load = document.getElementById('load');
                    if (msg["status"] === 0) {
                        var st_data = msg["data"]
                        for (var i in st_data) {
                            var data = st_data[i]
                            var date_ele = '<p>' + data['date'] + '</p>'
                            var title_ele = '<p class="leftp">' + data['title'] + '</p>'
                            var pic_ele = '<p><img src="' + data["picture_url"] + '" width="600px" /></p>'
                            var movie_ele = '<p><button class="button-success pure-button" name="download" id="download' + data["id"] + '" onclick=hlsdown(' + data["id"] + ') data-url=' + data["movie_url"] + '>Download</button></p>'
                            var main_html = '<div class="cards">' + date_ele + title_ele + pic_ele + movie_ele + '</div>'
                            render = render + main_html
                        }
                        load.innerHTML = '<button id=' + msg["next_id"] + ' class="pure-button pure-button-primary" onclick="nextlist(this)">LOAD</button>'
                        wrapper.innerHTML = render
                    } else {
                        wrapper.innerHTML = '<div>No Data</div>'
                    }
                }
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <button class="pure-button pure-button-primary" name="stlist" id="stlist" onclick="getlist()">Get List</button>
    </div>
    <div class="wrapper" id="wrapper"></div>
    <div class="load" id="load"></div>
</body>

</html>